@import "tailwindcss";

@theme {
  --color-primary: #1a202c;
  --color-primary-light: #2d3748;
  --color-primary-dark: #171923;

  --color-accent: #ed8936;
  --color-accent-light: #f6ad55;
  --color-accent-dark: #dd6b20;

  --font-satoshi: 'Satoshi', sans-serif;
}

body {
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
